node_modules/
.next/
out/
build/
dist/
*.log
npm-debug.log*
.env
.env.local
.env*.local
!.env.example
/prisma/*.db
/prisma/*.db-journal
.DS_Store
*.pem
.vercel
next-env.d.ts
/public/uploads/*
!/public/uploads/.gitkeep
tsconfig.tsbuildinfo
.tmp/
